@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: whitesmoke;
  font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.swiper-button-prev:after {
    font-size: 25px;
}

.swiper-button-next:after {
    font-size: 25px;
}

.swiper-button-next {
    color: red;
}

.swiper-button-prev {
    color: red;
}

.swiper-pagination-bullet{
    background-color: aliceblue;
    opacity: 1;
}

.swiper-pagination-bullet-active{
    background-color: aliceblue;
}

header{
    height: 60px;
    width: 100%;
    position: absolute;
    top: 0;
	z-index: 2;
    
}
#logo{
    line-height: 60px;
    margin-left: 40px;
    display: inline-block;
	cursor: pointer;
	font-size: 30px;
	font-weight: bold;
	color: white; /* blue */
}
#logo:hover{
    color: aquamarine; /* white */
}
#logo-s{
	color: aquamarine; /* white */
	margin-left: 5px;
}
#logo:hover #logo-s{
	color: #00a7ff; /* blue */
}
.sign{
	float: right;
	line-height: 60px;
	margin-right: 40px;
}
.sign a{
	color: white;
	font-weight: bold;
	text-decoration: none;
}
.act{
	border: 2px solid aqua;
	border-radius: 50px;
	padding: 6px 15px;
}
.sign a:hover{
	color: #00a7ff; /* blue */
	border-color: #00a7ff; /* blue */
}

.slider1{
	position: relative;
	width: 100%;
	background: white; /* darckblue */
}
.myslide{
	height: 655px;
	display: none;
	overflow: hidden;
}

.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}
.prev:hover, .next:hover{
	color: #00a7ff; /* blue */
}
.next{
	right: 0;
}
.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}

.active, .dot:hover{
	border-color: #00a7ff; /* blue */
}
/* /javascript */

/* muslide add fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

/* 3 */
.txt1{
	position: absolute;
	color: whitesmoke;
	letter-spacing: 2px;
	line-height: 35px;
	top: 40%;
	left: 15%;
	-webkit-animation-name: posi;
  	-webkit-animation-duration: 1s;
  	animation-name: posi;
  	animation-duration: 1s;
	z-index: 1;
}

@-webkit-keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}


@keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}

.txt1 h1{
	color: #00a7ff; /* blue */
	font-size: 50px;
	margin-bottom: 20px;
}
.txt1 p{
	font-weight: bold;
	font-size: 20px;
}
/* /3 */

/* 4 */


@keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}
/* /4 */



/* 5 */
@media screen and (max-width: 800px){
	.myslide{
		height: 500px;
	}
	.txt1{
		letter-spacing: 2px;
		line-height: 25px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-animation-name: posi2;
		-webkit-animation-duration: 2s;
		animation-name: posi2;
		animation-duration: 2s;
	}

	@-webkit-keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}


	@keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}

	.txt1 h1{
		font-size: 40px;
	}
	.txt1 p{
		font-size: 13px;
	}

}
/* /5 */

/* 6 */
@media screen and (max-width: 520px){
	.txt1 h1{
		font-size: 30px;
		margin-bottom: 20px;
	}
	.sign{
		margin-right: 20px;
	}
	.sign a{
		font-size: 12px;
	}
}
/* /6 */




.info {
    padding: 100px 0px;
    display: flex;
    align-items: center;
}

.info-img {
    width: 50%;
}

.info-img img {
    width: 400px;
    height: 250px;
}
.info-txt {
    width: 1000px;
}

.info-txt h2 {
    font-size: 75px;
    color: black;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.info-txt p {
    font-size: 18px;
    color: black;
    margin-bottom: 50px;
}

.btn-2 {
    display: inline-block;
    padding: 15px 35px;
    background-color: red;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 50px;
}


.horario {
    padding: 100px 0px;
    background-color: rgb(39, 39, 39);
}

.horario-info h2 {
    font-size: 75px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 80px;
    
}

.horario-txt {
    display: flex;
    justify-content: space-between;

}

.txt {
    color: white;
}

.txt h4 {
    font-size: 18px;
    color: white;
    margin-bottom: 30px;
    

}

.txt p {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}

.map{
    filter: grayscale(100%) invert(92%);
}

.footer {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;

}
.links h4 {
    color: black;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.links ul li a {
    color: black;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
}
